[submodule ".registry"]
	path = .registry
	url = https://github.com/anthonynorth/universe
	branch = HEAD
[submodule "cloudview"]
	path = cloudview
	url = https://github.com/anthonynorth/cloudview
[submodule "rdeck"]
	path = rdeck
	url = https://github.com/qfes/rdeck
	branch = v0.5.2
[submodule "roxyglobals"]
	path = roxyglobals
	url = https://github.com/anthonynorth/roxyglobals
[submodule "rscodeio"]
	path = rscodeio
	url = https://github.com/anthonynorth/rscodeio
	branch = *release
[submodule "snapbox"]
	path = snapbox
	url = https://github.com/anthonynorth/snapbox
	branch = *release
[submodule "stylebox"]
	path = stylebox
	url = https://github.com/anthonynorth/stylebox
	branch = v0.4.0
[submodule "tidyassert"]
	path = tidyassert
	url = https://github.com/qfes/tidyassert
[submodule "using"]
	path = using
	url = https://github.com/anthonynorth/using
	branch = v0.4.1
